em {
    font-size: 20px;
    color: #0d0d0d;
}

.header {
  background: white;
  line-height: 100%;
  height: 85vh;
  display: block;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
 font-size: 4em;
 padding: 20px;
 margin-bottom: 70px;
 margin-top: 100px;
 margin-left: 20px;
 text-align: center;
 color:#1a1a1a		; 
 background: #EE82EE;
 display: inline-block;
 align-items: center;
 background-blend-mode: saturation;
 background-size: 150%;
 border-radius: 2rem;
 border: 4px solid #7a19f1;
 animation-name: example;
 animation-duration: 4s;
 animation-iteration-count: infinite;
 box-sizing: border-box;
 transition: transform 3s;
}
h2:hover {
    transform: scale(1.0);
}

@keyframes example {
    from{background-color: #DDA0DD}
    to{background-color: white}
}
body {
    background: #74ca74;
    font-family: Rubik, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sub-header {
   background-color: #E6E6FA;
   box-shadow: 10px 10px 8px #D8BFD8;
border-top: aliceblue;
margin-top: 40px;
border-bottom-right-radius: 20px;
border-top-left-radius: 20px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header p {
    padding: 5px;
    margin-left: 30px;
    font-size: 22px;
    font-weight: 600px;
    box-sizing: border-box;
    line-height: 35px;

}

.header p:hover {
    color: orangered;

}

.grid {
    display: flex;
    align-items: center;
    text-align: center;
    height: 80vh;
    margin: 0;
    padding: 0;
    border: 2px solid white;
    background-attachment: fixed;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #D8BFD8;
    box-shadow: 20px 20px 15px #D8BFD8;
    border: 1px solid #7a19f1;
}

.monthly {
    width: 50%;
    height: 100%;
    color: white;
    box-sizing: border-box;
    background: linear-gradient( 50deg,#7a19f1,#332179);
    border-top-right-radius: 70px;
    margin-left: 20px;
    margin-right: 20px;  
}

.why-us {
    width: 50%;
    height: 100%;
    font-size: 40px;
    font-weight: 400px;
    font-weight: bold;
    color: white;
    background: #5b43d6;
    box-sizing: border-box;
    border-bottom-left-radius: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.why-us .us {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 .why-us ul {
    margin: 40px;
    font-weight: 500;
    box-sizing: border-box;  
}

.gain {
    padding: 0px;
    margin: 0;
    display: block;
    line-height: 40px;
    box-sizing: border-box;
}
li {
    margin: 18px;
    list-style: none;
    font-size: 23px;
    text-decoration: coral;
    color: #0d0d0d;
}
.us {
    margin-top: 50px;
    text-shadow: coral;
    font-size:30px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    margin-top: 40px;
    display: inline-block;
    font-weight: 400px;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid white;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2rem;
    width: 7rem;
    height: 3rem;
    color: ivory;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 5s;
}


button:hover {
    background-color: orangered;
    transform: scale(1.5);

}
.monthly p {
    margin-bottom: 10px;
    margin-top: 100px;
    font-size: 25px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    margin-top: 50px;
    color: #FFA07A	;
    font-size: 50px; 
    box-sizing: border-box;
}

@media only screen and (max-width: 815px) {
h2 {
    line-height: 50px;
    margin-top: 100px;
    display: block;
    margin-left: 60px;
    margin-right:60px;
    padding: 0;
    border: 1px solid #7a19f1;
    font-size: 3em;
}

@media only screen and (max-width: 815px) {
    .grid {
 display: flex;
 flex-direction: column;
 flex-wrap: wra;
 width: 100%%;
 height: 160vh;
 justify-content: space-between;
 align-items: center;
 text-align: center;
 margin: 0;
 padding: 0;
    }
}

@media only screen and (max-width : 815px) {
    .why-us {
        width: 90%;
        height: 50%;
        border-top-right-radius: 70px;
        border-bottom-left-radius: 0;
    } 
}
@media only screen and (max-width: 815px) {
    .monthly {
        width: 90%;
        height: 50%;
        border-top-left-radius: 70px;
        border-top-right-radius: 0;
    }
}
@media only screen and (max-width: 500px) {
    .header p {
        font-size: 17px;
        text-align: center;
        margin: 0;
        
    }
}

@media only screen and (max-width: 500px) {
    li {
        font-size: 18px;
        margin: 20px; 
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {
    .sub-header {
        margin-left: 40px;
        margin-right: 40px;
    }
}